@font-face {
  font-family: LXGWWenKaiLite;
  src: url(../fonts/LXGWWenKaiLite-Regular.ttf);
}
@font-face {
  font-family: SourceHanSansCN;
  src: url(../fonts/SourceHanSansCN-Regular.otf);
}
@font-face {
  font-family: SourceHanSerifCN-Heavy;
  src: url(../fonts/SourceHanSerifCN-Heavy.otf);
}
body {
  font-family: "SourceHanSansCN";
}
/*隐藏滚动条**/
body::-webkit-scrollbar {
  display: none;
}
