@font-face {
  font-family: LXGWWenKaiLite;
  src: url(../fonts/LXGWWenKaiLite-Regular.ttf);
}
@font-face {
  font-family: SourceHanSansCN;
  src: url(../fonts/SourceHanSansCN-Regular.otf);
}
@font-face {
  font-family: SourceHanSerifCN-Heavy;
  src: url(../fonts/SourceHanSerifCN-Heavy.otf);
}
@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/materialicons-v145.woff2)
    format("woff2");
}

body {
  font-family: "SourceHanSansCN";
}
/*隐藏滚动条**/
body::-webkit-scrollbar {
  display: none;
}
