#case {
  border: 5px solid #8d8d8d;
  padding: 5px;
  background: #f0eded;
  width: auto;
  border-radius: 30px;
  position: relative;
  top: 10%;
}

#name {
  font-family: "LXGWWenKaiLite";
  font-size: 150px;
  margin: auto;
  text-align: center;
}

#colorful {
  background-image: -webkit-linear-gradient(
    left,
    red,
    orange,
    yellow,
    green,
    cyan,
    blue,
    purple
  );
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  background-size: 200% 100%;
  -webkit-background-size: 200% 100%;
  animation: maskedAnimation 10s infinite linear;
  font-family: "SourceHanSerifCN-Heavy";
  width: 89%;
}
#colorful-text {
  font-size: 28px;
  text-align: center;
}
#colorful-text-from {
  font-size: 17px;
  text-align: right;
}
@keyframes maskedAnimation {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 100% 0;
  }
  100% {
    background-position: 1% 0;
  }
}
#set-fonts {
  text-align: center;
  position: relative;
  left: 50%;
  top: 5%;
  transform: translate(-50%, -50%);
}

#BIG-BUTTON {
  text-align: center;
}

#text_fields {
  font-size: 35px;
}

#speaker-icon {
  font-size: 35px;
}

#start {
  position: absolute;
  top: 75%;
}
#start_button {
  position: absolute;
  top: 75%;
  transform: translate(-50%, -50%);
}
