@font-face {
    font-family: LXGWWenKaiLite;
    src: url(../fonts/LXGWWenKaiLite-Regular.ttf);
}

#start {
    position: absolute;
    top: 75%;
}
/*隐藏滚动条**/
body::-webkit-scrollbar {
    display: none;
}