@font-face {
    font-family: Source Han Sans CN;
    src: url(../fonts/SourceHanSansCN-Regular.otf);
}

body {
    font-family: "Source Han Sans CN";

}

#start {
    position: absolute;
    top: 75%;
}